<footer class="container-fluid bg-rodape1" id="contato">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-light align-middle">
                    <i class="fa fa-info-circle fa-2x mr-2 text-light"></i>
                    Cursos Mais Visitados
                </h5>
                <ul class="text-light">
                    <li>
                        <a href="#" class="text-light">
                            <i class="fa fa-angle-right"></i>
                            PHP Intermediário
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-light">
                            <i class="fa fa-angle-right"></i>
                            PHP Intermediário
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-light">
                            <i class="fa fa-angle-right"></i>
                            PHP Intermediário
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-light">
                            <i class="fa fa-angle-right"></i>
                            PHP Intermediário
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-light">
                            <i class="fa fa-angle-right"></i>
                            PHP Intermediário
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-light">
                            <i class="fa fa-angle-right"></i>
                            PHP Intermediário
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="text-light">
                            Sobre a Revolution <span class="underline-footer"></span>
                        </h6>
                        <ul class="text-light">
                            <li>
                                <a href="#" class="text-light">
                                    Quem Somos
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light">
                                    Quem Somos
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light">
                                    Quem Somos
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light">
                                    Quem Somos
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h6 class="text-light">
                            Revolution Cursos <span class="underline-footer"></span>
                        </h6>
                        <ul class="text-light">
                            <li>
                                <a href="#" class="text-light">
                                    Quem Somos
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light">
                                    Quem Somos
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light">
                                    Quem Somos
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light">
                                    Quem Somos
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-light mb-3 bg-card-rodape">
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="far fa-building mr-2 fa-2x icon-banner-rodape"></i>
                            Traga Sua Empresa
                        </h4>
                        <p class="card-text text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, nobis voluptatibus! Fuga neque sunt vel qui, quo at quisquam velit dolore ipsa accusantium laudantium voluptatum natus optio possimus cum obcaecati.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>