<div class="container-fluid bg-servico" id="servico">
    <div class="mt-2 py-4">
        <section id="container">
            <header id="col-md-12">
                <h2 class="text-light text-center">
                    O Que Realmente Fazemos Para Você
                </h2>
                <span class="underline">                    
                </span>
            </header>
            <div class="row py-4">
                <div class="col-md-4">
                    <img src="../../assets/img/img1.png" 
                         alt="" class="img-fluid"/>
                    <p class="text-light text-center mt-2">
                        Criação de Web Sites Responsivos
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/img/img2.png" 
                         alt="" class="img-fluid"/>
                    <p class="text-light text-center mt-2">
                        Criação de Aplicativos Para Android
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/img/img3.png" 
                         alt="" class="img-fluid"/>
                    <p class="text-light text-center mt-2">
                        Otimização de Sites Para Web
                    </p>
                </div>                
            </div>
        </section>
    </div>
</div>
