<div class="container-fluid bg-info">
    <div class="container">
        <div class="row py-2">
            <div class="col-4">
                <a href="#" class="text-light">
                    Home
                </a>
            </div>
            <div class="col-4">
                <a href="+551632533265" class="text-light">
                    3253-3265
                </a>
            </div> 
            <div class="col-4 text-light">
                Segunda à Sexta das 08:00 às 18:00
            </div>                        
        </div>
    </div>
</div>