<div class="container-fluid" id="curso">
    <div class="py-4 my-2">
        <section class="container">
            <header class="col-md-12">
                <h2 class="text-center">Cursos Com 97% OFF</h2>
                <span class="underline"></span>
            </header>
            <div class="row py-4">
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <div class="tabela-preco sombra">
                        <div class="preco-detalhe">
                            <h2>
                                Framework PHP Laravel 5.6
                            </h2>
                            <strong>
                                R$ 429,99
                            </strong>
                            <span>
                                R$ 19,99
                            </span>
                            <ul>
                                <li>Vídeo Sob Demanda de 5H</li>
                                <li>+ de 40 Vídeo Aulas</li>
                                <li>Acesso Total e Vitalício</li>
                                <li>Certificado de Conclusão</li>
                            </ul>
                        </div>
                        <div class="preco-botao">
                            <a href="#" class="btn btn-preco">
                                Comprar Agora
                            </a>
                        </div>
                        <small>Garantia de Satisfação em 30 Dias</small>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <div class="tabela-preco sombra">
                        <div class="preco-detalhe">
                            <h2>
                                Framework PHP Laravel 5.6
                            </h2>
                            <strong>
                                R$ 429,99
                            </strong>
                            <span>
                                R$ 19,99
                            </span>
                            <ul>
                                <li>Vídeo Sob Demanda de 5H</li>
                                <li>+ de 40 Vídeo Aulas</li>
                                <li>Acesso Total e Vitalício</li>
                                <li>Certificado de Conclusão</li>
                            </ul>
                        </div>
                        <div class="preco-botao">
                            <a href="#" class="btn btn-preco">
                                Comprar Agora
                            </a>
                        </div>
                        <small>Garantia de Satisfação em 30 Dias</small>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <div class="tabela-preco sombra">
                        <div class="preco-detalhe">
                            <h2>
                                Framework PHP Laravel 5.6
                            </h2>
                            <strong>
                                R$ 429,99
                            </strong>
                            <span>
                                R$ 19,99
                            </span>
                            <ul>
                                <li>Vídeo Sob Demanda de 5H</li>
                                <li>+ de 40 Vídeo Aulas</li>
                                <li>Acesso Total e Vitalício</li>
                                <li>Certificado de Conclusão</li>
                            </ul>
                        </div>
                        <div class="preco-botao">
                            <a href="#" class="btn btn-preco">
                                Comprar Agora
                            </a>
                        </div>
                        <small>Garantia de Satisfação em 30 Dias</small>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                    <div class="tabela-preco sombra">
                        <div class="preco-detalhe">
                            <h2>
                                Framework PHP Laravel 5.6
                            </h2>
                            <strong>
                                R$ 429,99
                            </strong>
                            <span>
                                R$ 19,99
                            </span>
                            <ul>
                                <li>Vídeo Sob Demanda de 5H</li>
                                <li>+ de 40 Vídeo Aulas</li>
                                <li>Acesso Total e Vitalício</li>
                                <li>Certificado de Conclusão</li>
                            </ul>
                        </div>
                        <div class="preco-botao">
                            <a href="#" class="btn btn-preco">
                                Comprar Agora
                            </a>
                        </div>
                        <small>Garantia de Satisfação em 30 Dias</small>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

